{% extends 'base.html' %}
{% load static %}
{% block title %}
	Home
{% endblock %}
{% block extra_head %}
	<link rel="stylesheet" href="{% static 'css/landing.css' %}">
{% endblock extra_head %}
{% block content %}
	<div class="landing_buttons">
		<div>
			<p>
			<button onclick="window.location='http://localhost:8000/topic'">
				Play
			</p>
		</div>
		<div>
			<p>
			<button onclick="window.location='http://localhost:8000/login'">
				Login
			</p>
		</div>
		<div>
			<p>
			<button onclick="window.location='http://localhost:8000/register'">
				Register
			</p>
		</div>
	</div>
{% endblock %}
