{% extends 'base.html' %}
{% load static %}
{% block title %}
	EGL - Home
{% endblock %}
{% block extra_head %}
	<link rel="stylesheet" href="{% static 'css/landing.css' %}">
{% endblock extra_head %}
{% block content %} 
	<div id="divLanding">
		<div class="divText">
			<p>Welcome!</p>
		</div>
		<div class="divButton"> 
			<a href="./topic" class="button" id="btnPlay">PLAY</a>
			<a href="../login" class="button" id="btnLogin">LOGIN</a>
			<a href="./register" class="button" id="btnRegister">REGISTER</a>
		</div>
	</div>
{% endblock %}
