{% extends 'base.html' %}
{% load static %}
{% block extra_head %}
{% endblock extra_head %}
{% block content %}
			<div id="home" class="home">
				<a title="Home" href="./login.html"><img id="imgHome" src="{% static 'images/home.png' %}" alt="home" /></a>
		</div>
    	<div id="cuerpo" class="divRegister">
            <div id="cabecera">
				<img id="login" src="{% static 'images/register.png' %}" >
            </div>
            <div id="formulario">
                <form id="form-login" action="" method="post" autocomplete="off">
                    <input name="username" type="text" id="username" placeholder="Enter Username" autofocus="" required="" class="inputText">
                    <input name="password" type="password" id="password" placeholder="Enter Password" required="" class="inputText">
					<input name="email" type="email" id="email" placeholder="Enter Email" required="" class="inputText">
					<input name="cellphone" type="tel" id="cellphone" placeholder="Enter CellPhone" required="" class="inputText">
					<p id="bot"><input type="submit" id="btnRegister" name="btnLogin" value="Register" class="button"></p>
				</form>
            </div>
		</div>
{% endblock %}
