{% extends 'base.html' %}
{% load static %}
{% block extra_head %}
	<link rel="stylesheet" href="{% static 'css/register.css' %}">
{% endblock extra_head %}
{% block content %}
	<div class=panel>
		<div class="form">
			<form method="post" autocomplete="on" novalidate>
				{% csrf_token %}
				<input name="user_name" id="user_name" type="text" placeholder="Enter Username" autofocus="">
                <input name="password" id="pwd" type="password" placeholder="Enter Password">
                <input name="confirm_password" id="pwd" type="password" placeholder="Confirm Password">
				<input name="email" id="email" type="email" placeholder="Enter Email">
				<input name="cell_phone" id="phone" type="text" placeholder="Enter CellPhone">
				<input name=word_attempt"" id="word" type="number" placeholder="Enter Word Attempts">
				<input type="submit" class="btnRegister" value="Register">
			</form>
		</div>
	</div>
{% endblock %}
