{% extends 'base.html' %}
{% load static %}
{% block title %}
	EGL - Select Word
{% endblock %}
{% block extra_head %}
	<script src="{% static 'js/select_word.js' %}"></script>
	<link rel="stylesheet" href="{% static 'css/select_word.css' %}">
{% endblock extra_head %}
{% block content %} 
    <div class="fondBlackSelectWord" id="divBody">
        <table>
            <tr>
                <td colspan="3">
					<p class="title">TOPIC <b class="topic">{{ topic.topic_name }}</b></p>
                </td>
            </tr>
            <tr> 
                <td>
                    <p class="secondTitle">Select Word</p>
                <td>
                </td>
                <td>
                    <p class="secondTitle">User's Word</p>
                </td>
            </tr>
            <tr>
                <td>
                    <select class="SelWordAct" id="SelWordAct" multiple="10">
						{% for word in words %}
						<option value="{{ word.id }}">{{ word.word }} || {{ word.translation }}
						{% endfor %}
                    </select>
                </td>
                <td>
                    <table>
                        <tr>
                            <td><input onclick="funUnAssingWord()" type="submit" id="btnUnAssign" class="button" value=""></td>
                            <td><input onclick="funAssingWord()" type="submit" id="btnAssign" class="button" value=""></td>
                        </tr>
                        <tr>
                            <td><input onclick="funAllUnAssingWord()" type="submit" id="btnAllUnAssign" class="button" value=""></td>
                            <td><input onclick="funAllAssingWord()" type="submit" id="btnAllAssign" class="button" value=""></td>
                        </tr>
                        <tr>
                            <td colspan="2"><input onclick="funAddWord()" type="submit" id="btnAddWord" class="button" value=""></td>
                        </tr>
                    </table>
                </td>
                <td>
                    <select class="SelWordNew" id="SelWordNew" multiple> 
                    </select>
                </td>
            </tr>
            <tr>
                <td colspan="3">
                    <div class="post">
                        <input type="submit" id="btnCancel" name="btnCancel" class="button" value="Cancel">
                        <input type="submit" id="btnApply" name="btnApply" class="button" value="Apply">
                    </div>
                </td>
            </tr>
        </table>
    </div>
{% endblock %}
