{% extends 'base.html' %}
{% block title %}
	EGL - Snake
{% endblock %}
{% load static %}
{% block extra_head %}
	<link rel="stylesheet" href="{% static 'css/snake.css' %}">
	<script src="{% static 'js/snake.js' %}"></script>
{% endblock extra_head %}
{% block content %}
	<div id="topic_id">{{ topic_id }}</div>
	<div class="container">
		<div class="game">
			<canvas id="viewport" width="780" height="580"></canvas>
		</div>
		<div class="words">
			<table>
				<tr>
					<td colspan="3">
						<p class="title">TOPIC <b class="topic"></b></p>
					</td>
				</tr>
				<tr>
					<td></td>
					<td><input class="inputText" name="txtUp" id="txtUp" type="text" disabled></td>
					<td></td>
				</tr>
				<tr>
					<td><input class="inputText" name="txtLeft" id="txtLeft" type="text" disabled></td>
					<td><input class="inputText" name="txtTrans" id="txtTras" type="text"></td>
					<td><input class="inputText" name="txtRight" id="txtRight" type="text" disabled></td>
				</tr>
				<tr>
					<td></td>
					<td><input class="inputText" name="txtDown" id="txtDown" type="text" disabled></td>
					<td></td>
				</tr>
			</table>
		</div>
	</div>
{% endblock %}
