{% extends 'base.html' %}
{% load static %}
{% block extra_head %}
	<link rel="stylesheet" href="{% static 'css/snake.css' %}">
	<script src="{% static 'js/snake.js' %}"></script>
{% endblock extra_head %}
{% block content %}
	<div class="container">
		<div class="fondBlackSnake" id="divBody">
			<canvas id="viewport" width="640" height="480"></canvas>
		</div>
		<div class=arrowsPlay>
			<form id="form-arrowsPlay" method="post" autocomplete="off">
				{% csrf_token %}
				<input class="inputText" name="turnRight" id="turnRight" type="text" placeholder="turn Right" autofocus="" readonly><br>
				<input class="inputText" name="turnLight" id="turnLight" type="text" placeholder="turn Left" autofocus="" readonly><br>
				<input class="inputText" name="turnDown" id="turnDown" type="text" placeholder="turn Down" autofocus="" readonly><br>
				<input class="inputText" name="turnUp" id="turnUp" type="text" placeholder="turn Up" autofocus="" readonly><br>
			</form>
		</div>
	</div>
{% endblock %}
