{% extends 'base.html' %}
{% load static %}
{% block extra_head %}
	<link rel="stylesheet" href="{% static 'css/snake.css' %}">
	<script src="{% static 'js/snake.js' %}"></script>
{% endblock extra_head %}
{% block content %}
	<div class="container">
		<div class="game">
			<canvas id="viewport" width="640" height="480"></canvas>
		</div>
		<div class="words">
			<div>
				<p>Topic</p>
				<p class="topic"></p>
			</div>
			<div>
				<p>Move Left:</p>
				<p class="left">
					
				</p>
			</div>
			<div>
				<p>Move Right:</p>
				<p class="right">
					
				</p>
			</div>
			<div>
				<p>Move Up:</p>
				<p class="up">
					
				</p>
			</div>
			<div>
				<p>Move Down:</p>
				<p class="down">
					
				</p>
			</div>
		</div>
		<input type="text" class="inputText" autofocus>
	</div>
{% endblock %}
