{% extends 'base.html' %}
{% load static %}
{% block title %}
	Home
{% endblock %}
{% block extra_head %}
	<script src="{% static 'js/home.js' %}"></script>
	<link rel="stylesheet" href="{% static 'css/topic.css' %}">
	<link href="https://fonts.googleapis.com/css?family=Kaushan+Script&display=swap" rel="stylesheet">
{% endblock extra_head %}
{% block content %}
	<div class="topic_cont">
        <h1 class="topic_title">Select your topic</h1>
        <div class="topic_buttons">
            <div>
                <button class="system" onclick="window.location='http://localhost:8000/snake'">System</button>
		    </div>
		    <div>
                <button class="medicine" onclick="window.location='http://localhost:8000/snake'">Medicine</button>
		    </div>
		    <div>
                <button class="hobbies" onclick="window.location='http://localhost:8000/snake'">Hobbies</button>
		    </div>
        </div>
	</div>
{% endblock %}
