{% extends 'base.html' %}
{% load static %}
{% block title %}
	Home
{% endblock %}
{% block extra_head %}
	<script src="{% static 'js/home.js' %}"></script>
	<link rel="stylesheet" href="{% static 'css/user_config.css' %}">
	<link href="https://fonts.googleapis.com/css?family=Kaushan+Script&display=swap" rel="stylesheet">
{% endblock extra_head %}
{% block content %}
	<div class="config_cont">
        <div class="topic_buttons">
            <div>
                <button class="play" onclick="window.location='http://localhost:8000/snake'">Play</button>
            </div>
            <div>
                <button class="Configuration" onclick="window.location='http://localhost:8000/snake'">Settings</button>
            </div>
        </div>
    </div>
{% endblock %}

