{% extends 'base.html' %}
{% load static %}
{% block title %}
EGL - Home
{% endblock %}
{% block extra_head %}
	<script src="{% static 'js/home.js' %}"></script>
	<link rel="stylesheet" href="{% static 'css/user_config.css' %}">
{% endblock extra_head %}
{% block content %}
	<div class="config_cont">
        <div class="config_buttons">
            <p>Customize your game</p>
            <div class="divButton">
                <a href="./snake" class="button" id="btnPlay">PLAY</a>
			    <a href="./topic" class="button" id="btnSett">SETTINGS</a>
            </div>
        </div>
    </div>
{% endblock %}

