{% load static %}
<!DOCTYPE html>
<html lang="en">
	<head>
		<title>
			{% block title %}
			{% endblock %}
		</title>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
		<script src="{% static 'js/base.js' %}"></script>
		{% block extra_head %}
		{% endblock %}
		<link rel="stylesheet" href="{% static 'css/base.css' %}">
	</head>
	<body>
		<h3>
			{% if user %}
				{{ user }}
			{% else %}
				AnonymousUser
			{% endif %}
		</h3>
		<button type="button" class="logoutbtn"> Log Out</button>
		<div class="container">
			{% block content %}{% endblock %}
		</div>
	</body>
</html>
