{% load static %}
<!DOCTYPE html>
<html lang="en">
	<head>
		<title>
			{% block title %}
			{% endblock %}
		</title>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
		{% block extra_head %}
		{% endblock %}
		<link rel="stylesheet" href="{% static 'css/header.css' %}">
		<link rel="stylesheet" href="{% static 'css/footer.css' %}">
		<link rel="stylesheet" href="{% static 'css/common.css' %}">
	</head>
	<body>
		<header>
			<div class="home">
				<a title="Home" href="http://localhost:8000/landing">
					<img id="imgHome" src="{% static 'images/home.png' %}" alt="home"/>
				</a>
				<a class="logout" href="{% url 'logout' %}"><i class="power_off"></i>Logout
				</a>
            </div>
		</header>
			{% block content %}

			{% endblock %}
		<footer>
			<p>
				Copyright EGL 2020
			</p>
		</footer>
	</body>
</html>
