#divBody {
    background:rgba(15,15,15,0.5); /*1 100% transparente*/
    padding: 0px 5px 0px 9px;   /*adentro*/
    text-align: center;
    margin: 50px auto; /*afuera*/
    border-radius: 8px;
}
img#imgDivHead{
    height: 80px;
    width: 80px;
    text-align: center;
    margin: -50px 0 12px 0;
    position: relative;
    border-radius: 50%;
}
.fondBlack{
    width: 430px;
    height: 480px;
}
#headBoard{
    padding: 0px 9px 0px 9px;
    text-align: center;
}
.inputText{
    padding-left: 45px;
    font-family: sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: #000000;
    margin: 0 0 25px;
    overflow: hidden;
    /*text-align: center;*/
    height: 30px;
    width: 300px;
    border-radius: 6px;
}

#remember{
    color: #0000EE;
    size:

}

input#user_name{
    background: #ffc url(../images/user.png) no-repeat left center;
    background-size: 30px 30px;
}

input#password, input#confirm_password{
    background: #ffc url(../images/password.png) no-repeat left center;
    background-size: 30px 30px;
}
