
/******************************************************************
*******				fondo del contenedor negro				*******
*******************************************************************/
.fondBlackRegister{
    width: 430px;
    height: 480px;
    text-align: center;
}

/******************************************************************
*******				Borde rojo del juego					*******
*******************************************************************/
form, p{
    margin: 0;
}

/******************************************************************
*******				Cajas de texto con imagen				*******
*******************************************************************/
input#user_name{
    background: #ffc url(../images/user.png) no-repeat left center;
    background-size: 30px 30px;
    height: 30px;
    width: 300px;
}
input#password, input#confirm_password{
    background: #ffc url(../images/password.png) no-repeat left center;
    background-size: 30px 30px;
    height: 30px;
    width: 300px;
}
input#email{
    background: #ffc url(../images/email.png) no-repeat left center;
    background-size: 30px 30px;
    height: 30px;
    width: 300px;
}
input#phone{
    background: #ffc url(../images/cellphone.png) no-repeat left center;
    background-size: 30px 30px;
    height: 30px;
    width: 300px;
}
input#word{
    background: #ffc url(../images/word.png) no-repeat left center;
    background-size: 30px 30px;
    height: 30px;
    width: 300px;
}

/******************************************************************
*******				boton register      					*******
*******************************************************************/
#btnRegister{
    background-color: rgba(51, 144, 255, 0.5);
    height: 40px;
    width: 352px;
}


