i/******************************************************************
*******				Borde rojo del juego					*******
*******************************************************************/
canvas{
    border: 5px double rgba(148, 5, 5, 0.5);
}

/******************************************************************
*******				fondo gris del snake					*******
*******************************************************************/
.game{
    width: 700px;
    height: 540px;
    display: flex; 
    justify-content: center;
    align-items: center;
}

.container{
	display: flex;
	justify-content: left;
    /*background-color: saddlebrown;*/
}

.inputText{
    width: 90px;
    height: 30px;
}

p {
	font-size: 22px;
	color: red;
}

.topic {
	color: white;
}

.left, .right, .up, .down {
	color: white;
}

