/******************************************************************
*******				Borde rojo del juego					*******
*******************************************************************/
canvas{
    border: 5px double rgba(148, 5, 5, 0.5);
}

/******************************************************************
*******				fondo gris del snake					*******
*******************************************************************/
.fondBlackSnake{
    width: 700px;
    height: 540px;
    display: flex; 
    justify-content: center;
    align-items: center;
}

.container{
    display: flex;
    width: 1280px;
    height: 540px;
    /*background-color: saddlebrown;*/
}

#form-arrowsPlay{
    display: block;
    float: right;
    /*background-color: rgb(50, 50, 146);*/
    text-align: center;
}

.inputText{
    width: 90px;
    height: 30px;
}

