
/******************************************************************
*******				Detail configuration buttons			*******
*******************************************************************/

config_buttons:hover{
    background: rgba(249, 3, 3, 0.88);
    background-size: 70px 70px;
    background-position:left;
}
config_buttons{
    background: rgba(214, 14, 41, 0.8);
    background-size: 70px 70px;
    background-position:left;
}

/******************************************************************
*******				Button play detail   				*******
*******************************************************************/

#btnPlay:hover{
    background: rgba(249, 3, 3, 0.88) url(../images/play.png) no-repeat left center;
    background-size: 70px 70px;
    background-position:left;
}
#btnPlay{
    background: rgba(214, 14, 41, 0.8) url(../images/play.png) no-repeat left center;
    background-size: 70px 70px;
    background-position:left;
}

/******************************************************************
*******				Button settings detail   				*******
*******************************************************************/

#btnSett:hover{
    background: rgba(249, 3, 3, 0.88) url(../images/settings.png) no-repeat left center;
    background-size: 70px 70px;
    background-position:left;
}
#btnSett{
    background: rgba(214, 14, 41, 0.8) url(../images/settings.png) no-repeat left center;
    background-size: 70px 70px;
    background-position:left;
}

/******************************************************************
*******				Alignment buttons				*******
*******************************************************************/
.divButton{
    text-align: center;
}

/******************************************************************
*******			Definition of the text          			*******
*******************************************************************/
.config_buttons{
    text-align: center;
    font-family: sans-serif;
    font-size: 70px;
    font-style: oblique;
    font-weight: 900;
    font-variant: small-caps;
    color: #FFFFFF;
}

p{
    font-size: 32px;
}