/******************************************************************
*******				Button Definition    					*******
*******************************************************************/

.button {
    background: rgba(214, 14, 41, 0.5);
    background-image: -webkit-linear-gradient(top, #BB3D4E, #BB433D);
    background-image: -moz-linear-gradient(top, #BB3D4E, #BB433D);
    background-image: -ms-linear-gradient(top, #BB3D4E, #BB433D);
    background-image: -o-linear-gradient(top, #BB3D4E, #BB433D);
    background-image: linear-gradient(to bottom, #BB3D4E, #BB433D);
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    color: #FFFFFF;
    font-family: sans-serif;
    font-size: 60px;
    font-weight: 100;
    padding: 60px;
    box-shadow: 1px 1px 20px 0px #C62452;
    -webkit-box-shadow: 1px 1px 20px 0px #C62452;
    -moz-box-shadow: 1px 1px 20px 0px #C62452;
    text-shadow: 14px 1px 20px #000000;
    border: solid rgba(237, 51, 60, 0.96) 0px;
    display: inline-block;
    cursor: pointer;
    text-align: center;
    width: 250px;
    height: 10px;
}

/******************************************************************
*******				Hover effect                    		*******
*******************************************************************/

.button:hover{
    border: dotted rgba(214, 14, 41, 0.5) 0px no-repeat left center;
    -webkit-border-radius: 60px;
    -moz-border-radius: 60px;
    border-radius: 60px;
    text-decoration: none;
    -webkit-transform: translateY(-15px);
    -ms-transform: translateY(-15px);
    transform: translateY(-15px);
}

/******************************************************************
*******				Detail configuration buttons			*******
*******************************************************************/

config_buttons:hover{
    background: rgba(249, 3, 3, 0.88);
    background-size: 70px 70px;
    background-position:left;
}
config_buttons{
    background: rgba(214, 14, 41, 0.8);
    background-size: 70px 70px;
    background-position:left;
}

/******************************************************************
*******				Button play detail   				*******
*******************************************************************/

#btnPlay:hover{
    background: rgba(249, 3, 3, 0.88) url(../images/play.png) no-repeat left center;
    background-size: 70px 70px;
    background-position:left;
}
#btnPlay{
    background: rgba(214, 14, 41, 0.8) url(../images/play.png) no-repeat left center;
    background-size: 70px 70px;
    background-position:left;
}

/******************************************************************
*******				Button settings detail   				*******
*******************************************************************/

#btnSett:hover{
    background: rgba(249, 3, 3, 0.88) url(../images/settings.png) no-repeat left center;
    background-size: 70px 70px;
    background-position:left;
}
#btnSett{
    background: rgba(214, 14, 41, 0.8) url(../images/settings.png) no-repeat left center;
    background-size: 70px 70px;
    background-position:left;
}

/******************************************************************
*******				Alignment buttons				*******
*******************************************************************/
.divButton{
    text-align: center;
}

/******************************************************************
*******			Definition of the text          			*******
*******************************************************************/
.config_buttons{
    text-align: center;
    font-family: sans-serif;
    font-size: 70px;
    font-style: oblique;
    font-weight: 900;
    font-variant: small-caps;
    color: #FFFFFF;
}
